div {
    height: 100px;
    width: 100px;
    background-color: #4ECDC4;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
}
img {
    position: absolute;
    height: 110px;
    width: 110px;
    
    }


.faded{
    opacity: 0.5;
}
section{
    margin-bottom: 60px;
    background-color: #f4f3f2;
    padding-top: 20px;
    padding-bottom: 20px;
}
.circle{
    border-radius: 100%;
    z-index: 1; 
    position:relative;
}